# ===============================
# Virtual Environment
# ===============================
venv/
.env/
.venv/
ENV/
env/
.env

# ===============================
# Streamlit
# ===============================
pages/.streamlit/secrets.toml
.streamlit/secrets.toml
pages/.streamlit/config.toml

# ===============================
# OS
# ===============================
.DS_Store
Thumbs.db


# ===============================
# Logs & Cache
# ===============================
*.log
.cache/
.pytest_cache/
__pycache__/
*.pyc
*.pyo
.streamlit/*.json

# ide
.vscode/

# ===============================
# DOCS
# ===============================
*.pptx
*.pdf

# ===============================
# TEST
# ===============================
test_db.py
